<div class="main">
  <div class="perfil">
    <div class="perfil1"> <img class="imagen" src="../../../assets/perfil.jpg" alt="perfil" width="100px"></div>
    <div class="input1"><button class="input" mat-button (click)="openDialog()"> <span>Crear publicacion</span></button></div>

  </div>
  <div class="archivos">
    <div class="file"><img src="../../../assets/image.svg" alt="Foto" width="24px"><span>Foto</span> </div>
    <div class="file"><img src="../../../assets/video.svg" alt="Video" width="24px"><span>Vídeo</span></div>
    <div class="file"><img src="../../../assets/evento.svg" alt="Evento" width="24px"><span>Evento</span></div>
    <div class="file"><img src="../../../assets/encuesta.svg" alt="Escribir articulo" width="24px"><span>Escribir articulo</span></div>
  </div>
</div>
